@page "/survey-report"
@layout MainLayout

@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@using BlazorTable
@attribute [Authorize]

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Survey Reports</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Survey Reports</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<section class="content">
    <div class="container-fluid">
        <RadzenContent Container="main">
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4 class="card-title">Survey Report</h4>
                                <RadzenButton Icon="help_outline" style="margin-bottom: 10px; float:right" Text="Help" Click="@HelpClick">
                                </RadzenButton>
                            </div>

                            <div class="card-body" style="overflow:auto">

                                @if (IsLoading)
                                {
                                    <div class="loading">Loading&#8230;</div>
                                }
                                else
                                {
                                    <div style="width:110vw">
                                        <Table TableItem="SurveyReport" Items="getSurveyReportsResult" PageSize="15" ColumnReorder="true">
                                            <Column TableItem="SurveyReport" Title="Action" Sortable="false" Filterable="false" Width="3%">
                                                <Template Context="SurveyContext">
                                                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="pageview" Size="ButtonSize.Small" Click="@((args) => GridEditButtonClick(args, SurveyContext))" @onclick:stopPropagation="true">
                                                    </RadzenButton>
                                                </Template>
                                            </Column>

                                            <Column TableItem="SurveyReport" Title="Survey Date" Field="@(x => x.SURVEY_DATE)" Sortable="true" Filterable="true" DefaultSortDescending="true" Width="10%">
                                                <Template>
                                                    @string.Format("{0:dd/MM/yyyy H:mm:ss}", context.SURVEY_DATE)
                                                </Template>
                                            </Column>

                                            <Column TableItem="SurveyReport" Title="Survey" Field="@(x => x.Survey.SURVEY_TITLE)" Sortable="true" Filterable="true" Width="13" />

                                            <Column TableItem="SurveyReport" Title="Employee Name" Field="@(x => x.Surveyor.FullName)" Sortable="true" Filterable="true" Width="10%" />

                                            <Column TableItem="SurveyReport" Title="Assessment No." Field="@(x => x.Assesment.RISKASSESSMENTNO)" Sortable="true" Filterable="true" Width="10%" />

                                            <Column TableItem="SurveyReport" Title="Work Order No." Field="@(x => x.Order.WORK_ORDER_NUMBER)" Sortable="true" Filterable="true" Width="10%" />

                                            <Column TableItem="SurveyReport" Title="Total Score" Field="@(x => x.Survey.TScore)" Sortable="true" Filterable="true" Width="7%"/>

                                            <Column TableItem="SurveyReport" Title="Warning Level" Field="@(x => x.WarningLevel.NAME)" Sortable="true" Filterable="true" Width="9%" />

                                            <Column TableItem="SurveyReport" Title="Status" Field="@(x => x.EntityStatus.NAME)" Sortable="true" Filterable="true" Width="8%" />

                                            @if (Security.IsInRole("System Administrator"))
                                            {
                                                <Column TableItem="SurveyReport" Title="Company" Field="@(x => x.Company.COMPANY_NAME)" Sortable="true" Filterable="true" Width="10%" />
                                            }

                                            <Column TableItem="SurveyReport" Title="Work Order Date" Width="11%" Format="dd/MM/yyyy" Field="@(x => x.Order.DATE_RAISED)" Sortable="true" Filterable="true" />

                                            <Column TableItem="SurveyReport" Title="Comments" Field="@(x => x.COMMENTS)" Sortable="true" Filterable="true" Width="15%" />

                                            <Pager ShowPageNumber="true" ShowTotalCount="true" />

                                        </Table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </div>
</section>