@page "/company-worksite"
@layout MainLayout


@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@using BlazorTable
@attribute [Authorize]

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Company Work Site</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Work Sites</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <RadzenContent Container="main">
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4 class="card-title">Company Work Site</h4>
                                <RadzenButton Icon="add_circle_outline" style="float:right" Text="New Work Site" Click="@Button0Click">
                                </RadzenButton>
                                <RadzenButton Icon="help_outline" style="margin-bottom: 10px; float:right; margin-right:5px" Text="Help" Click="@HelpClick">
                                </RadzenButton>
                            </div>
                            <div class="card-body">
                                @if (isLoading)
                                {
                                    <div class="loading">Loading&#8230;</div>
                                }

                                <Table TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Items="@getPersonSitesResult" PageSize="15" ColumnReorder="true">
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Action" Sortable="false" Filterable="false" Width="20%">
                                        <Template>
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, context))" @onclick:stopPropagation="true">
                                            </RadzenButton>
                                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Size="ButtonSize.Small" Click="@((args) =>GridEditButtonClick(args, context))" @onclick:stopPropagation="true">
                                            </RadzenButton>

                                        </Template>
                                    </Column>

                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Site Name" Field="@(x => x.SITE_NAME)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true" />

                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Building Name" Field="@(x => x.BUILDING_NAME)" Sortable="true" Filterable="true" Width="20%">

                                    </Column>
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Address 1" Field="@(x => x.SITE_ADDRESS1)" Sortable="true" Filterable="true" Width="20%">

                                    </Column>

                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Address 2" Field="@(x => x.SITE_ADDRESS2)" Sortable="true" Filterable="true" Width="10%">

                                    </Column>
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="City" Field="@(x => x.CITY)" Sortable="true" Filterable="true" Width="10%">

                                    </Column>
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="State" Field="@(x => x.State.STATENAME)" Sortable="true" Filterable="true" Width="10%">

                                    </Column>
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Post Code" Field="@(x => x.POST_CODE)" Sortable="true" Filterable="true" Width="15%">

                                    </Column>
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Country" Field="@(x => x.Country.COUNTRYNAME)" Sortable="true" Filterable="true" Width="10%">

                                    </Column>
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Latitude" Field="@(x => x.LATITUDE)" Sortable="true" Filterable="true" Width="10%">

                                    </Column>
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Longitude" Field="@(x => x.LONGITUDE)" Sortable="true" Filterable="true" Width="10%">

                                    </Column>

                                    <Column TableItem="Clear.Risk.Models.ClearConnection.PersonSite" Title="Is Default" Field="@(x => x.IS_DEFAULT)" Width="10%">
                                        <Template>
                                            <RadzenCheckBox @bind-Value=@context.IS_DEFAULT TValue="bool" Change=@(args => OnDefaultChange(context)) />
                                        </Template>
                                    </Column>

                                    <Pager ShowPageNumber="true" ShowTotalCount="true" />
                                </Table>

                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </div>
</section>