@page "/ChangePassword"
@layout MainLayout

@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-body">
                        <RadzenTemplateForm Data="@person" Visible="@(person != null)" TItem="Person" Submit="@(args => Form0Submit(args))">
                            <ChildContent>
                                <div style="margin-bottom: 1rem" class="row">
                                    <div class="col-md-3">
                                        <RadzenLabel Text="Old Password" style="width: 100%">
                                        </RadzenLabel>
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Style="display:block;width:100%;" @bind-Value="@oldPassword">
                                        </RadzenTextBox>
                                    </div>
                                </div>

                                <div style="margin-bottom: 1rem" class="row">
                                    <div class="col-md-3">
                                        <RadzenLabel Text="New Password" style="width: 100%">
                                        </RadzenLabel>
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Style="display:block;width:100%;" @bind-Value="@person.PASSWORDHASH">
                                        </RadzenTextBox>
                                    </div>
                                </div>
                                <div style="margin-bottom: 1rem" class="row">
                                    <div class="col-md-3">
                                        <RadzenLabel Text="Re-enter Password" style="width: 100%">
                                        </RadzenLabel>
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Style="display:block;width:100%;" @bind-Value="@person.ConfirmPassword">
                                        </RadzenTextBox>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary" />
                                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click" />
                                </div>
                            </ChildContent>
                        </RadzenTemplateForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>