@page "/add-swms-licencespermit/{SWMSID}"
@layout MainLayout
@inherits Clear.Risk.Pages.AddSwmsLicencespermitComponent

@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@swmslicencespermit" Visible="@(swmslicencespermit != null)" TItem="Clear.Risk.Models.ClearConnection.SwmsLicencespermit" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Licence Permit" Component="LICENCE_PERMIT_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getLicencePermitsResult" TextProperty="NAME" ValueProperty="PERMIT_ID" Placeholder="Select Licences & Permits" style="display: block; width: 100%" @bind-Value="@(swmslicencespermit.LICENCE_PERMIT_ID)" Name="LICENCE_PERMIT_ID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="LICENCE_PERMIT_ID" Text="LICENCE_PERMIT_ID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Is Deleted" Component="IS_DELETED" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(swmslicencespermit.IS_DELETED)" Name="IS_DELETED">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
