@page "/person-contact"
@layout MainLayout


@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<section class="content">
    <div class="container-fluid">
        <RadzenContent Container="main">
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4 class="card-title">Person Contact</h4>
                                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px; float:right" Text="Add" Click="@Button0Click">
                                </RadzenButton>                                
                            </div>
                            <div class="card-body">
                                @if (isLoading)
                                {
                                    <div class="loading">Loading&#8230;</div>
                                }
                                <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getPersonContactsResult" TItem="PersonContact" RowSelect="@Grid0RowSelect">
                                    <Columns>
                                        <RadzenGridColumn TItem="PersonContact" Property="PERSON_ID" SortProperty="Person.COMPANY_NAME" FilterProperty="Person.COMPANY_NAME" Title="Person">
                                            <Template Context="data">
                                                @(data.Company?.COMPANY_NAME)
                                            </Template>
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="FIRST_NAME" Title="FIRST NAME">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="MIDDLE_NAME" Title="MIDDLE NAME">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="LAST_NAME" Title="LAST NAME">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="PERSONAL_CITY" Title="PERSONAL CITY">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="PERSONAL_COUNTRY_ID" SortProperty="Country.COUNTRYNAME" FilterProperty="Country.COUNTRYNAME" Title="Country">
                                            <Template Context="data">
                                                @(data.PersonalCountry?.COUNTRYNAME)
                                            </Template>
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="PERSONAL_PHONE" Title="PERSONAL PHONE">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="PERSONAL_MOBILE" Title="PERSONAL MOBILE">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="PERSONAL_EMAIL" Title="PERSONAL EMAIL">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="ISPRIMARY" Title="ISPRIMARY">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Property="DESIGNATION" Title="DESIGNATION">
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="PersonContact" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                            <Template Context="clearRiskModelsClearRiskPersonContact">
                                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, clearRiskModelsClearRiskPersonContact))" @onclick:stopPropagation="true">
                                                </RadzenButton>
                                            </Template>
                                        </RadzenGridColumn>
                                    </Columns>
                                </RadzenGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </div>
</section>

