@page "/help-reference"
@layout MainLayout


@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@using BlazorTable
@attribute [Authorize]

<section class="content">
    <div class="container-fluid">
        <RadzenContent Container="main">
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4 class="card-title">Manage Help Reference</h4>
                                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px;float:right" Text="Add" Click="@Button0Click">
                                </RadzenButton>
                            </div>
                            <div class="card-body">
                                @if (isLoading)
                                {
                <div class="loading">Loading&#8230;</div>}                                 

                            <Table TableItem="Clear.Risk.Models.ClearConnection.HelpReference" Items="@(getHelpReferencesResult)" PageSize="15" ColumnReorder="true">
                                <Column TableItem="Clear.Risk.Models.ClearConnection.HelpReference" Title="Action" Sortable="false" Filterable="false" Width="5%">
                                    <Template>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, context))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                        <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Size="ButtonSize.Small" Click="@((args) =>GridEditButtonClick(args, context))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                    </Template>
                                </Column>

                                <Column TableItem="Clear.Risk.Models.ClearConnection.HelpReference" Title="Screen Id" Field="@(x => x.SCREEN_ID)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true" />
                                <Column TableItem="Clear.Risk.Models.ClearConnection.HelpReference" Title="Screen Name" Field="@(x => x.SCREEN_NAME)" Sortable="true" Filterable="true" Width="20%">
                                </Column>
                                <Column TableItem="Clear.Risk.Models.ClearConnection.HelpReference" Title="Html Content" Field="@(x =>x.HTML_CONTENT)" Sortable="true" Filterable="true" Width="20%">
                                    <Template>
                                            @((MarkupString)context.HTML_CONTENT)
                                    </Template>
                                </Column>

                                <Pager ShowPageNumber="true" ShowTotalCount="true" />
                            </Table>

                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </div>
</section>


