@page "/criticality-master"
@layout MainLayout


@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@using BlazorTable
@attribute [Authorize]


<section class="content">
    <div class="container-fluid">
        <RadzenContent Container="main">
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-success">
                            <div class="card-header">
                                <h4 class="card-title">Criticality Master</h4>
                                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px; float:right" Text="Add" Click="@Button0Click">
                                </RadzenButton>
                                <RadzenButton Icon="help_outline" style="margin-bottom: 10px; float:right; margin-right:5px" Text="Help" Click="@HelpClick">
                                </RadzenButton>
                            </div>
                            <div class="card-body">
                                @if (IsLoading)
                                {
                <div class="loading">Loading&#8230;</div>}
                                <Table TableItem="Clear.Risk.Models.ClearConnection.CriticalityMaster" Items="@(getCriticalityMastersResult)" PageSize="15" ColumnReorder="true">
                                    <Column TableItem="Clear.Risk.Models.ClearConnection.CriticalityMaster" Title="Action" Sortable="false" Filterable="false" Width="10%">
                                        <Template>
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, context))" @onclick:stopPropagation="true">
                                            </RadzenButton>
                                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Size="ButtonSize.Small" Click="@((args) =>GridEditButtonClick(args, context))" @onclick:stopPropagation="true">
                                            </RadzenButton>
                                        </Template>
                                    </Column>

                                    <Column TableItem="Clear.Risk.Models.ClearConnection.CriticalityMaster" Title="Name" Field="@(x => x.NAME)" Sortable="true" Filterable="true" Width="80%" DefaultSortColumn="true" />


                                    <Pager ShowPageNumber="true" ShowTotalCount="true" />
                                </Table>
                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </div>
</section>

